@import "tailwindcss";

@font-face {
  font-family: 'Acrom';
  src: url('/fonts/AcromThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acrom';
  src: url('/fonts/AcromLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acrom';
  src: url('/fonts/AcromRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acrom';
  src: url('/fonts/AcromMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acrom';
  src: url('/fonts/AcromBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acrom';
  src: url('/fonts/AcromExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Acrom", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-brand-dark: #001C5C;
  --color-brand-primary: #008FFF;
  --color-brand-accent: #DA000F;
}

html {
  font-family: var(--font-sans);
}