---
import "../styles/global.css";
import Header from "../components/astro/Header.astro";
import CookieBanner from "../components/astro/CookieBanner.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="./assets/icons/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Visor-Tech</title>
  </head>
  <body class="w-full overflow-x-hidden bg-white text-gray-900 antialiased">
    <Header />
    <main class="w-full">
      <slot />
    </main>
    <CookieBanner />
  </body>
</html>
